  body{
    color: #dfdfdf;
    font-family: Century Gothic, sans-serif;
    background-color: #fff;
    background-image: url('background.gif');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:50% 0px;
    padding: 0px;
    margin: 0px;
  }
  #container {
    background-color: #4d4d4d;
    width:960px;
    margin:0px auto;
  }
  #header {
    height: 300px;
    background-image: url('header.png');
    background-repeat: no-repeat;
    border-bottom: 2px solid #555;
  }
  #menu {
    background-color: #4d4d4d;
    height: 30px;
  }
  #menu li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
  }
  #menu ul {
    
  }
  #content {
    background-color: #4d4d4d;
    float:left;
    width:638px;
    padding-left: 4px;
    border-right: 2px solid #555;
  }
  #sidebar {
    background-color: #4d4d4d;
    float:left;
    padding-left: 2px;
    width:318px;
  }
  #misc{
    clear: both;
  }
  #footer {
    background-color: #4d4d4d;
    margin-top: 3px;
    border-top: 2px solid #555;
    clear:both;
  }
  h1 {
    font-family: Impact, Century Gothic, sans-serif !important;
  }
  .active-scaffold-header h2 {
    color:#DFDFDF !important;
    font-family: Impact, Century Gothic, sans-serif !important;
  }
  
